<div
  class="card p-3 position-fixed col-9"
  *ngIf="this.error.statut"
  style="
    background-color: rgb(255, 21, 0) !important;
    top: 1%;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
  "
>
  <span style="font-size: 15px; color: white"
    ><i class="fa fas fa-exclamation-circle"></i> {{ this.error.message }}</span
  >
</div>
<div
  class="d-flex flex-row justify-content-evenly align-items-center"
  style="height: 100vh; z-index: 9"
>
  <div
    class="card col-10 d-flex flex-row justify-content-evenly gap-2 align-items-center"
  >
    <form
      class="col-5 d-flex flex-column gap-2 justify-content-start position-absolute p-2"
      style="width: 100%"
      (submit)="changeState ? insertData() : login()"
    >
      <h4>{{ changeState ? "Inscription" : "Connexion" }}</h4>
      <input
        type="text"
        name="email"
        id="email"
        class="form-control"
        [(ngModel)]="dataToInsert.mail"
        placeholder="Email"
      />
      <span
        *ngIf="changeState"
        class="d-flex flex-column gap-2 inscription-input"
      >
        <input
          type="text"
          name="nom"
          id="nom"
          class="form-control"
          placeholder="Nom"
          [(ngModel)]="dataToInsert.nom"
        />
        <input
          type="text"
          name="prenom"
          id="prenom"
          class="form-control"
          placeholder="Prenom"
          [(ngModel)]="dataToInsert.prenom"
        />
        <span class="d-flex flex-row gap-2">
          <input
            type="radio"
            name="sexe"
            value="H"
            id="homme"
            [(ngModel)]="dataToInsert.sexe"
            class="form-check-input"
          />
          <label for="homme">Homme</label>
          <input
            type="radio"
            name="sexe"
            value="F"
            id="femme"
            [(ngModel)]="dataToInsert.sexe"
            class="form-check-input"
          />
          <label for="femme">Femme</label>
        </span>
        <input
          type="text"
          name="dateNaissance"
          id="dateNaissance"
          class="form-control"
          pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
          placeholder="Date de Naissance (yyyy-mm-dd)"
          [(ngModel)]="dataToInsert.dateNaissance"
        />
        <input
          type="text"
          name="contact"
          id="contact"
          class="form-control"
          placeholder="Contact"
          [(ngModel)]="dataToInsert.contact"
        />
        <input
          type="text"
          name="cin"
          id="cin"
          class="form-control"
          placeholder="CIN"
          [(ngModel)]="dataToInsert.cin"
        />
      </span>
      <input
        type="password"
        name="password"
        id="password"
        [(ngModel)]="dataToInsert.motDePass"
        class="form-control"
        placeholder="Mot de passe"
      />
      <button style="background-color: var(--secondary)" class="col-12 btn">
        {{ changeState ? "Inscription" : "Connexion" }}
      </button>
      <span
        >{{ changeState ? "Plus besoin d'en créer?" : "Pas de compte?" }}
        <u
          style="color: #ff512f"
          (click)="this.changeState = !this.changeState; makeChangeState()"
          >{{ changeState ? "Connectez-vous" : "Inscrivez-vous" }}</u
        ></span
      >
    </form>
  </div>
</div>
<div [class]="divstyle"></div>
