<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Carsale </ion-title>
  </ion-toolbar>
</ion-header>
<div
  class="card p-3 position-fixed col-9"
  *ngIf="this.error.statut"
  style="
    background-color: rgb(255, 21, 0) !important;
    top: 1%;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
  "
>
  <span style="font-size: 15px; color: white"
    ><i class="fa fas fa-exclamation-circle"></i> {{ this.error.message }}</span
  >
</div>
<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs d-flex gap-2">
    <ion-tab-button tab="accueil" class="btn" href="/accueil">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <span class="col-3 d-flex flex-row justify-content-evenly">
      <ion-tab-button tab="ajout" class="btn add" href="/ajout">
        <ion-icon name="add"></ion-icon>
      </ion-tab-button>
    </span>

    <ion-tab-button class="btn" tab="parametre" href="/parametre">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
