<div [class]="class">
  <div
    class="image d-flex align-items-center justify-content-center position-relative"
    style="height: 100%; overflow: hidden"
  ></div>
  <div
    class="detail position-relative p-2 px-3 col-12 d-flex flex-row align-items-start justify-content-between"
    style="bottom: 0; height: 25%; overflow-y: auto; z-index: 20"
  >
    <span style="z-index: 2" class="d-flex flex-column gap-2 col-12">
      <span
        style="
          font-family: Arial, Helvetica, sans-serif;
          background-color: var(--secondary);
          border-radius: 12px;
        "
        class="px-4"
        >{{ data.voiture.prix | number : ".0" }}Ar</span
      >
      <span
        >{{ data.voiture.model.marque.designation }}
        {{ data.voiture.model.designation }}<br />
        {{ data.voiture.categorie.designation }}
      </span>
      <span class="d-flex flex-column gap-1 align-items-start">
        <b>Etat</b> {{ data.voiture.etat.designation }}
        <b>Date de l'annonce:</b>
        {{ data.dateAnnonce | date : "fullDate" }}
        <b>Caractéristique:</b>
        <span *ngFor="let item of data.detailVoitures">
          {{ item.designation }}: {{ item.valeur }}
        </span>
      </span>
      <button class="btn btn-primary col-12" (click)="vendu(data)">
        Vendu
      </button>
      <button class="btn btn-danger col-12" (click)="supprimer(data)">
        Supprimer
      </button>
    </span>
  </div>
</div>
